.headear-font{
    font-size: 25px;
}
.card-size{
    width: 200px;
}
.btn-circle{
    border-radius: 50%;
}
.btn-size{
    width: 40px;
}
.img-hover:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease-out;
}
.flow-hidden{
    overflow: hidden;
}
.text-hover:hover{
    color: blue;
}
.card-hover:hover{
    box-shadow: 0px 0px 2px black;
}
.error-text{
    font-size: 11px;
    color: red;
}
.error-input{
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(234, 236, 252);
    width: 100%;
}
.error-input:focus{
    background-color:rgb(232, 232, 252);
    outline: none;
}
.form-width{
    width: 30%;
}

.form-effects{
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
@media screen and (max-width:480px) {
    .headear-font{
        font-size: 20px;
    }
    .card-size{
        width: 160px;
    }
    .form-width{
        width: 90%;
    }
}
@media screen and (max-width:320px) {
    .headear-font{
        font-size: 17px;
    }
    .card-size{
        width: 130px;
    }
}